/* Shared Styles */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.site-title {
    color: #FFF;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}
.title-first-word {
    color: #FF42A5;
}
.site-heading {
    display: flex;
    padding-top: 100px;
    align-items: center;
    justify-content: center;
}
.logo-img {
    width: 80px;
    height: 40px;
}
.title {
    padding: 40px 20px;
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.funny-videos{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
/* Nav bar styles */
.nav-logo-container {
    display: flex;
    align-items: center;
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}
.nav-bar {
    display: flex;
    padding: 20px 80px;
    justify-content: space-around;
}
.nav-bar ul li {
    list-style: none;
}
.nav-bar ul {
    display: flex;
    
    align-items: center;
    gap: 32px;
}
.nav-bar ul a {
    text-decoration: none;
    
}
.box {
    display: flex;
    width: 250px;
    height: 56px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.description {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

/* Banner Style start  */
.banner-text{
    align-content: center;

}
.banner-container{
    padding: 20px 80px;
    display: flex;
    gap: 200px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.banner-image{
    
    
}
.banner-highlight{
font-size: 75px;
font-weight: 800;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
#banner-paragraph{
    padding-bottom: 10px;
}

.banner-photo{
    height: 450px;
    width: 400px;
}
.button-one{
    border: 0;
    margin-top: 15px;
    padding: 15px 30px;
    border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));

}
.btn .button-two{
    border: 0;
    padding: 15px 30px;
    border-radius: 48px;
background: #4EC5F7;
}
.banner-title{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
}
/* online game part style */
.online-img-section {
    margin: 0 auto;
    padding-top: 20px;
    width: 80%;
    height: 400px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.img>img {
    height: 300px;
    width: 230px;
}

.img:hover {}
/* Play game section */
.over-flow-img{
    margin-left: -40px ;
    margin-top: 30px;
}
.game-play{
    display: flex;
    flex-basis: 0;
    gap: 60px;
    height: 70vh;
    justify-content: center;
    align-items: center;
}
.game-text{
    margin-left: 60px;
    text-align: left;
}
.game-photo{
    height: 350px;
    width: 290px;
}
.bottom-photo{
    height: 170px;
    width: 140px;
    margin-left: -85px;
    margin-bottom: -90px;
}
/* Types of game styles */
.games-type-container{
    padding-top: 100px;
    height: 60vh;
    
}
.first-game , .second-game{ align-items: center;
    justify-content: center;
   gap: 15px;
    padding-top: 10vh;
    display: flex;
}
.g-image{
    width: 40px;
height: 40px;
}
.type{
    color: #0B0223;
font-family: Work Sans;
font-size: 14px;
font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.type:hover{
    border: 1px solid ;
    border-radius: 50px;
background: #FFF;
color: rgb(241, 58, 153);
}
/* Footer Style */
.footer {
    margin-top: 80px;
    /* padding-top: 20px; */
    height: 636px;
    background: #0B0223;
    border: 1px solid rebeccapurple;
}

.footer-navigation ul,
.footer-conditions ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 40px;
}

.footer-navigation>li,
.footer-conditions>li {
    list-style: none;
}

.footer-navigation ul li a,
.footer-conditions a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer-conditions a {

    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;

}

.copy-write {
    padding-top: 5px;
    color: rgba(255, 255, 255, 0.60);
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
}

.footer-logo-container {
    display: flex;
    justify-content: center;
}

.icon {
    color: #FFF;
}

.fa-brands {
    margin: 30px;
}

@media screen and (max-width: 576px) {

    /* nav responsive */
    .nav-bar {
        display: flex;
        width: auto;
        flex-direction: column;
        padding: 20px 80px;
        justify-content: space-around;
    }

    .nav-bar ul {
        flex-direction: column;
        justify-content: center;
    }
/* banner responsive */
    .banner-container{
        flex-direction: column-reverse;
        align-items: center;
    justify-content: center;
    gap: 50px;
    }
    .btn button{
      padding-top:  10px;
    }
    
.banner-photo{
    height: 350px;
    width: 300px;}

    /* Online section responsive */
    .online-img-section {
        display: flex;
        height: 100%;
        align-items: center;
        flex-direction: column;
    }
    .img:hover{
        
       background-image: url('images/Group14.png');
    }

    .img>img {
        height: 300px;
        width: 230px;
        margin-left: 55px;
    }

    .Online-part p {
        padding: 20px;
        margin: 20px;
        text-align: center;

    }
    .online{
        margin-top: 30px;
    }
    /* game play responsive */
    .game-play{
        flex-direction: column;
        height: 600px;
    }
    .games-type-container{
        margin-top: 30px;
        align-content: center;
        padding-top: 50px;
        height: 35vh;}
        
.game-photo{
    height: 250px;
    width: 190px;
}
#description{
    text-align: center;
    align-items: center;
    padding-right: 15px;
}
    /* game type responsive */
.first-game ,.second-game{
    
    margin-bottom: 10px;
    flex-wrap: wrap;
    padding: 5px 5px;
}
.game-text #banner-title{
    margin-top: 60px;
}
.game-text > p{
    text-align: right;
}



    /* Footer responsive */
    .footer{
        margin-top:  10px;
    }
    .footer-logo-container,
    .footer-navigation ul {
        justify-items: center;
        padding-left: 30px;
        padding-right: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-conditions ul {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;

    }

    .copy-write {
        padding: 20px 120px;
        text-align: center;
    }

    .fa-brands {
        margin: 5px;
    }

    .footer-conditions ul {
        gap: 10px;
        padding-top: 20;
    }

    .site-heading {
        padding-top: 30px;
    }
}
@media screen and  (min-width: 577px)  and (max-width: 900px){
    .nav-bar {
        display: flex;
        width: auto;
        justify-content: center;
        flex-direction: column;
        padding: 20px 80px;
        justify-content: space-around;
    }
    .nav-logo-container{
        margin: 25px 35px;
     
        justify-content: center;
    }

    .nav-bar ul {
        flex-direction: column;
        justify-content: center;
    }

    /* banner part */
    .banner-container{
        flex-direction: column-reverse;
        align-items: center;
    justify-content: center;
    gap: 50px;
    }
    .btn button{
      padding-top:  10px;
    }
    /* 
    Online part */
    .online-img-section {
        height: 800px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .game-play{
        display:  flex;
        gap: 5px;
        height: 35vh;
        justify-content: center;
    }
    .first-game{
        display: grid;
        padding-top: 1vh;
        grid-template-columns: repeat(3, 1fr);
    }
    .second-game{
        padding: 30px 0 0 0 ;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .games-type-container{
        height: 40vh;
        margin-bottom: 0px;
    }
    
}
